@model SistemaDeControleVeiculos.Models.VeiculosModel

<form asp-action="Adicionar" method="post" enctype="multipart/form-data" novalidate>
  <input type="text" name="Placa" placeholder="ABC-1234" required />
  <input type="text" name="Marca" placeholder="Ford" required />
  <input type="text" name="Modelo" placeholder="Fiesta" required />
  <input type="number" name="Ano" placeholder="2020" min="1900" max="2099" required />
  <input type="number" name="Quilometragem" placeholder="120000" min="0" required />
  <button type="submit">Adicionar veículo</button>
</form>
